a {
  color: #555;
}

a:hover {
  cursor:pointer;
}

#filter {
  margin-top: 5px;
}

#filter td {
  padding:5px;
}

#logo {
  padding-top:10px;
}

#workarea {
  padding-top: 5px;
}

#recipes-table {
  margin-top: 5px;
}

/* typeahead css */
.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width:300px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
}

.tt-suggestion:hover {
    background-color: #101010;
    color: white;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

/*body {
  font-size: 1em;
  color: #999999;
  margin: 0px;
  font-family: Arial, sans-serif;
}



#header {
  width:100%;
  height:5%;
  background-color: #006699;
  color: white;
  font-size: 1.3em;
}

#menu-container {
  width:15%;
  min-height: 800px;
  padding:0.5em;
  vertical-align: top;
}

#workpanel {
  width:85%;
  padding:0.5em;
}

.ingredient {
  margin:0.5em;
  padding:0.3em;
  border: 1px solid #CCC;
  background-color: #EEE;
}

.ingredient-name {
  width: 25%;
  float:left;
}

.site-title {
  padding-top:0.5%;
  padding-left:2%
}
*/
